@color =html {
    margin: 0;
    width: 100%;
}

h2 {
    font-family: 'Bai Jamjuree';
    font-size: 45px;
    font-weight: 400;
    margin: 30px;
    ;
}

h3 {
    font-family: 'Bai Jamjuree';
    font-weight: lighter;
    font-size: 2em;
    color: #ffffff;
}

p {
    color: #2b2b2b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.9em;
    letter-spacing: 0.2px;
    margin: 0;
}


/* Altering Title Positioning */

#title {
    font-size: 85px;
    margin: 0 0 0 0;
    width: 100%;
    font-family: 'Bai Jamjuree';
    color: #ffffff;
    padding: 10px;
    top: 50px;
}

#subtitle {
    font-size: 35px;
    margin: 0 0 0 0;
    padding: 10px;
}


/* Scroll Bar */


/* ::-webkit-scrollbar {
    display: none;
} */

:root {
    --background: #ffffff;
    --purple-color: #613591;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}

.content {
    height: 200vh;
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
}


/* "All About LASA Robotics" Block */

.all_about_LR {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 25px 100px 25px;
    justify-content: flex-start;
    background-color: #f2f2f2;
}

#all-about-title {
    opacity: 0;
}

#all-about-title-read {
    opacity: 1;
    transition: 2s ease-in;
}

#all-about-description {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #2b2b2b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.9em;
    letter-spacing: 0.2px;
    width: 50%;
    text-align: center;
    opacity: 0;
}

#all-about-description-read {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #2b2b2b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.9em;
    letter-spacing: 0.2px;
    width: 50%;
    text-align: center;
    opacity: 1;
    transition: 1s ease-in;
}

#join_us {
    width: 150px;
    height: 50px;
    background-color: #000000;
    color: white;
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: 0;
    border-radius: 16px;
    position: relative;
    opacity: 0;
    transition: 1s ease-in-out;
    /* transition: 2s ease-in; */
}

#join_us-read {
    width: 150px;
    height: 50px;
    background-color: #000000;
    color: white;
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 16px;
    position: relative;
    top: 80%;
    opacity: 1;
    outline: 0;
    transition: 1s ease-in-out;
}

#join_us-read:hover {
    background-color: var(--purple-color);
}

@media screen and (max-width: 768px) {
    #all-about-description {
        width: 90%;
    }
}


/* navigation styles start here */

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}


/* 
.nav-toggle:focus~.nav-toggle-label {
    outline: 3px solid rgba(97, 53, 145, .75);
} */

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #2b2b2b;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: #2b2b2b;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0;
    transform: transition 150ms ease-in-out;
    position: relative;
    top: 50%;
    transition: 0.3s ease-in-out;
}

nav a:hover {
    color: var(--purple-color);
    /* background-color: #f2f2f2; */
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    /* transition: opacity 250ms ease-in-out; */
    display: block;
}

.dropbtn {
    background: none;
    color: #2b2b2b;
    font-size: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: 'Bai Jamjuree';
    text-transform: uppercase;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    /* display: none; */
    opacity: 0;
    display: none;
    position: absolute;
    transition: opacity ease-in-out 250ms;
    background-color: #f9f9f9;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    transition: 0.3s ease-in-out;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transition: 0.3s ease-in-out;
}


/* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */

@media screen and (min-width: 874px) {
    .nav-toggle-label {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 50px auto minmax(600px, 3fr) 50px;
    }
    .logo {
        grid-column: 2 / 3;
        color: #2b2b2b;
    }
    nav {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
        /* end Edge support stuff */
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav ul {
        display: flex;
    }
    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }
    nav a {
        opacity: 1;
        position: relative;
    }
    nav a:hover::before {
        transform: scale(1, 1);
    }
}

@media screen and (max-width: 874px) {
    .dropbtn {
        padding: 10px;
    }
}

@media screen and (max-width: 481px) {
    #title {
        font-size: 15vw;
    }
    #subtitle {
        font-size: 7vw;
    }
}