{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>LASA Robotics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" id="google-fonts-1-css" href="https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CBai+Jamjuree%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;ver=4.9.8" type="text/css" media="all">
<link href="{% static 'css/base.css' %}" rel="stylesheet" />
</head>
<header>
  <h1 class="logo">Logo</h1>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul class="navbar-items">
        <div>
          <li><a href="#" >Home</a></li>
        </div>
        <li>
          <div class="dropdown">
            <button class="dropbtn">About Us</button>
            <div class="dropdown-content">
              <a href="#">Team History</a>
              <a href="#">Coaches and Mentors</a>
              <a href="#">Outreach</a>
              <a href="#">Association</a>
              <a href="#">The Shop</a>
              <a href="#">FIRST</a>
              <a href="#">Contact Us</a>
            </div>
          </div>
        </li>
        <div>
          <li><a href="#" >Team</a></li>
        </div>
        <li>
          <div class="dropdown">
            <button class="dropbtn">Members</button>
            <div class="dropdown-content">
              <a href="#">Students</a>
              <a href="#">Log Hours</a>
              <a href="#">Parents</a>
              <a href="#">Calendar</a>
              <a href="#">Team Gear</a>
            </div>
          </div>
        </li>       
        <div>
          <li><a href="#">SMART Camps</a></li>
        </div>
        <div>
          <li><a href="#">Donations</a></li>
        </div>
        <div>
          <li><a href="#">Shop</a></li>
        </div>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>
	{% block content %}

	{% endblock content %}
{% comment %}  {% endcomment %}
<footer>

</footer>
</html>

{% comment %}

Navbar Tree :
-Home
-About Us
  - Team History
  - Coaches and Mentors
  - Outreach
  - Association
  - The Shop
  - FIRST
  - Contact Us
-Team
-Members 
  - Students
  - Log Hours
  - Parents
  - Calendar
  - Team Gear
- SMART Camps
- Donations
- Shop
 {% endcomment %}